table, th, td {
    border: 1px solid black;
}

table {
    margin: 1rem auto;
}

.h1-title {
    text-align: center;
}

.button-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 1rem;
}
